<h2 mat-dialog-title>Neues Bild erstellen</h2>
<mat-dialog-content>
  <div class="image-create">
    <div class="image-props">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput placeholder="Bild Name" [(ngModel)]="title" />
      </mat-form-field>
    </div>
    <div class="image-upload">
      <span>Bild hochladen:</span>
      <button
        mat-fab
        color="primary"
        aria-label="Example icon button with a delete icon"
        (click)="openFileBrowser()"
      >
        <mat-icon>folder_open</mat-icon>
      </button>
    </div>
    <div class="image-drop-box" [ngClass]="{ 'is-hovered': this.isHovered }">
      @if (!image) {
        <mat-icon> perm_media </mat-icon>
      }
      <img
        *ngIf="imageDisplay"
        [src]="imageDisplay"
        alt="image"
        class="image-preview"
      />
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [mat-dialog-close]="true"
    [disabled]="!image"
    (click)="onSaveImage()"
  >
    Save
  </button>
</mat-dialog-actions>
