.card-details-component-container {
  display: flex;
  height: 15rem;
  margin-bottom: 20px;
  padding: 10px;
  margin-top: 10px;
}
.navigate-to-postion-button {
  position: absolute;
}

.region-image-button {
  all: unset;
  height: 67px;
  width: 100px;

  img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
}
.card-details-container {
  flex-grow: 1;
}
.card-details-side-nav {
  width: 200px;
  display: flex;
  border: solid;
  border-color: #cccccc;
  border-width: 0;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  margin-left: 5px;
  margin-right: 5px;
  flex-direction: column;
  flex-grow: 0;
  height: 100%;
  overflow: auto;

  span, .add-card-list-item {
    padding: 0.6rem;
    cursor: pointer;
    min-height: 2.5rem;
    align-items: center;
    border-radius: 3px;
    gap: 0.5rem;
  }
  span:nth-child(even) {
    background-color: #ffe7e7;
  }
  .add-card-list-item {
    display: flex;
    cursor: pointer;
    margin-top: auto;
  }
  .add-card-list-item mat-icon {
    font-size: 1.3em;
  }
  .add-card-list-item:hover {
    background: #eaeaea;
    border: 1px solid #888;
  }
}
.current-card {
  background-color: #bf616a !important;
  color: white;
}

.card {
  height: 100%;
  margin-left: 10px;
  margin-right: 10px;
  border: solid;
  border-radius: 5px;
  border-color: #cccccc;
  border-width: 0;
  background-color: #fdfefe;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto;

  &--content {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr;
    &_stack-title {
      grid-column: 1 / span 2; /* Span across both columns */
      grid-row: 1;
    }
    &_card-image {
      grid-column: 1;
      grid-row: 2 / span 2; /* Span across two rows */
    }

    &_card-title {
      grid-column: 2;
      grid-row: 2;
      justify-self: start; /* Ensures the entire element aligns to the start of grid cell */
      text-align: left;    /* Ensures text content within aligns to the left */
    }
    &_card-description {
      grid-column: 2;
      grid-row: 3;
      justify-self: start; /* Ensures the entire element aligns to the start of grid cell */
      text-align: left;    /* Ensures text content within aligns to the left */
    }
  }

  &--buttons {
    display: flex;
    margin-top: auto;
  }
  &--nav {
    display: flex;
    align-items: center;
    width: 50px;
  }
  button:last-of-type {
    margin-left: auto;
  }
}

.marker-map {
  top: 100px;
  left: 100px;
  margin-left: auto;
}


.container {
  display: flex;
  flex-direction: column;
}
