<div class="card-details-component-container">
  @if (store.stack()) {
    <div class="card-details-side-nav" data-testid="stack-side-nav">
      <ng-container *ngFor="let card of store.cards()">
        <span
          [attr.data-testid]="'stack-side-nav-card-' + card.id"
          class="card-details-side-nav--container"
          [routerLink]="['/cards/details', card.id]"
          [ngClass]="{ 'current-card': card.id === store.currentCard()?.id }"
          >{{ card.title }}
        </span>
      </ng-container>
      <div
        class="add-card-list-item"
        (click)="openAddCardDialog()"
        (keyup.enter)="openAddCardDialog()"
        tabindex="0"
        role="button"
        data-testid="add-card-button"
      >
        <mat-icon>add</mat-icon> Neue Karte
      </div>
    </div>
  }
  <div class="card-details-container">
    <ng-container *ngIf="store.currentCard() as card">
      <div class="card">
        <span class="card--nav">
          <button
            data-testid="previous-card-button"
            mat-icon-button
            *ngIf="store.previousCard() as previousCardId"
            [routerLink]="['/cards/details', previousCardId.id]"
          >
            <mat-icon>arrow_back_ios</mat-icon>
          </button>
        </span>
        <div class="card--content">
          <ng-container *ngIf="card">
            <div class="card--content_navigate-to-position-button">
              @if (store.image(); as image) {
                <button
                  class="region-image-button"
                  data-testid="show-on-map-button"
                  (click)="onShowOnMap(card)"
                >
                  <img
                    data-testid="card-region-img"
                    [src]="image.imageSource"
                    alt="arrow_forward_ios"
                  />
                </button>
              } @else {
                <button
                  mat-mini-fab
                  color="warn"
                  data-testid="show-on-map-button"
                  (click)="onShowOnMap(card)"
                  aria-label="Example icon button with a home icon"
                >
                  <mat-icon data-testid="location-icon">
                    {{ isLocationCard(card) ? "pin_drop" : "location_off" }}
                  </mat-icon>
                </button>
              }
            </div>
          </ng-container>
          <div class="card--content_stack-title">
            <ng-container *ngIf="store.stack() as currentStack">
              <p
                class="text-lg font-semibold font-mono"
                data-testid="stack-title"
              >
                {{ currentStack.name }}
              </p>
            </ng-container>
          </div>

          <div class="card--content_card-title">
            <p class="text-xl font-bold font-mono" data-testid="card-title">
              {{ card.title }}
            </p>
          </div>
          <p class="card--content_card-description">
            {{ card.description }}
          </p>
        </div>
        <span *ngIf="store.nextCard() as nextCard" class="card--nav">
          <button
            mat-icon-button
            data-testid="next-card-button"
            [routerLink]="['/cards/details', nextCard.id]"
          >
            <mat-icon>arrow_forward_ios</mat-icon>
          </button>
        </span>
      </div>
    </ng-container>
  </div>
</div>
<div class="container">
  <app-editor></app-editor>
</div>
