.main-content {
  height: 100%;
}

.example-container {
  height: 100%;
}

.navigation-container {
  padding: 1.2rem;
  width: 200px;
  height: 100%;
}

.nav-icon {
  padding-right: 0.5rem;
}

.navigation-item {
  margin-bottom: 1.2rem;
}

.navigation-item-content {
  display: flex;
  flex-direction: row;
}
.app-toolbar {
  flex: 0 0 0 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

mat-list-item span {
  margin-right: 1rem;
}
