
<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

<app-toolbar (onMenu)="drawer.toggle()"></app-toolbar>
<mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <mat-list class="navigation-container">
        <mat-list-item class="navigation-item" (click)="goMap()"> 
          <div class="navigation-item-content">
          <span class="material-symbols-outlined">
          map
          </span>
          Map
          </div>
        </mat-list-item>
        <mat-list-item class="navigation-item" (click)="goList()">
          <div class="navigation-item-content">
          <span class="material-symbols-outlined">
            list
            </span>
          List
          </div>
        </mat-list-item>
        <mat-list-item class="navigation-item">
          <div class="navigation-item-content">
          <span class="material-symbols-outlined">
            description
            </span>
          About
          </div>
        </mat-list-item>
        <mat-list-item class="navigation-item" (click)="goCreateNew()">
          <div class="navigation-item-content">
          <span class="material-symbols-outlined">
            pin_drop
            </span>
          AddNew
          </div>
        </mat-list-item>
      </mat-list>
    </mat-drawer>
  
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  
  </mat-drawer-container>