<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
  rel="stylesheet"
/>

<div class="app-container">
  <mat-drawer-container class="example-container">
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <app-card-list></app-card-list>
    </mat-drawer>

    <mat-drawer-content>
      <div class="absolute fixed z-1000 translate-20">
        <button mat-fab extended (click)="drawer.toggle()">
          <mat-icon>search</mat-icon>
          Search
        </button>
      </div>
      <div class="main-content">
        <router-outlet></router-outlet>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
