<div class="image-list">
  <mat-form-field class="name-filter-input">
    <mat-label>Namens Filter</mat-label>
    <input
      matInput
      type="text"
      [ngModel]="titleFilter | async"
      (ngModelChange)="titleFilter.next($event)"
    />
    @if (titleFilter) {
      <button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="titleFilter.next('')"
      >
        <mat-icon>close</mat-icon>
      </button>
    }
  </mat-form-field>
  <div class="gridbox">
    <mat-card *ngFor="let image of images" class="gridbox_item">
      <div class="content-grid">
        <mat-form-field class="name-input-field">
          <mat-label>Bild Name</mat-label>
          <input
            matInput
            type="text"
            [ngModel]="image.name"
            (ngModelChange)="changeImageName(image, $event)"
          />
        </mat-form-field>
        <img
          class="centered-image"
          (click)="onSelectImage(image)"
          (keydown.enter)="onSelectImage(image)"
          [src]="image.imageSource"
          [alt]="image.name"
          tabindex="0"
        />
        <button
          mat-icon-button
          (click)="onDeleteImage(image)"
          class="delete-button"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>
  <mat-paginator
    [length]="numberOfImages"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="[5, 10, 25, 100]"
    [pageIndex]="pageIndex"
    (page)="changePage($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
